.elements__rectangle {
    width: 282px;
    height: 83px;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
    position: relative;
    bottom: 7px;
    z-index: 0;
    gap: 30px;
}