.popup__button {
    width: 32px;
    height: 32px;
    position: relative;
    bottom: 40px;
    left: 9px;
    border: none;
    background-color:rgba(0, 0, 0, 0);
}

@media screen and (max-width: 500px) {
    .popup__button {
        width: 20px;
        height: 20px;
        bottom: 36px;
        left: -20px;
    }
}
