.profile__pencil-button {
    align-self: center;
    grid-row-start: 1;
    grid-column-start: 2;
    background-color: #000000;
    border: none;
    background-image: url(../../../images/pencil.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #FFFFFF;
    text-align: center;
    padding: 10px;
    margin-top: 5px;
}

.profile__pencil-button:hover {
    color: #FFFFFF;
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 375px) {
    .profile__pencil-button {
        padding: 8px;
        margin-left: 10px;
    }
}
