.elements__trashcan-button {
    align-self: center;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../../../images/trashcan.svg);
    background-size: 22px 19px;
    background-repeat: no-repeat;
    border: none;
    padding: 11px;
    position: absolute;
    right: 18px;
    top: 20px;
}

.elements__trashcan-button:hover {
    color: #000000;
    opacity: 0.5;
    cursor: pointer;
}

.elements__trashcan-button:active {
    color: #000000;
}
