.popup__profession {
    width: 355px;
    font-family: 'Inter Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 8px;
    outline: none;
    margin-left: 36px;
    margin-bottom: 48px;
}

@media screen and (max-width: 500px) {
    .popup__profession {
        width: 235px;
        margin-left: 22px;
        margin-bottom: 44px;
    }
}