.popup__button-close {
    width: 32px;
    height: 32px;
    position: absolute;
    top: -40px;
    right: -40px;
    border: none;
    background-color: rgba(0, 0, 0, 0.0);
    background-image: url(../../../images/close.svg);
    background-repeat: no-repeat;
    background-size: 32px;
}

.popup__button-close:hover {
    color: #FFFFFF;
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 560px) {
    .popup__button-close {
        background-size: 20px;
        top: -37px;
        right: -12px;
    }
}