.elements__container {
    max-width: 880px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    justify-content: center;
    grid-gap: 18px 17px;
}

@media screen and (max-width:375px) {
    .elements__container {
        grid-gap: 19px 17px;
    }
}