.footer {
    margin: 58px auto 54px auto;
    max-width: 880px;
}

@media screen and (max-width: 900px) {
    .footer {
        max-width: 580px;
    }
}

@media screen and (max-width: 580px) {
    .footer {
        max-width: 280px;
    }
}

@media screen and (max-width: 375px) {
    .footer {
        margin: 40px auto 30px auto;
    }
}