.footer {
    margin: 70px auto 25px auto;
    max-width: 880px;
}

@media screen and (max-width: 900px) {
    .footer {
        max-width: 580px;
    }
}

@media screen and (max-width: 580px) {
    .footer {
        max-width: 280px;
    }
}

@media screen and (max-width: 375px) {
    .footer {
        margin: 50px auto 20px auto;
    }
}