.elements__heart-button {
    align-self: center;
    background-color: #FFFFFF;
    border: none;
    background-image: url(../../../images/heart.svg);
    background-size: 22px 19px;
    background-repeat: no-repeat;
    padding: 11px;
}

.elements__heart-button:hover {
    color: #000000;
    opacity: 0.5;
    cursor: pointer;
}

.elements__heart-button:active {
    color: #000000;
}
